.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", invitations_path
      %li
        = link_to "New", new_invitation_path, :id => 'new_invitation', :rel => '#overlay'
  .content
    %h2.title
      Sent Invitations
    .inner
      = render 'table', :invitations => @invitations
    %h2.title
      Accepted Invitations
    .inner
      = render 'table', :invitations => @accepted_invitations
    %h2.title
      Declined Invitations
    .inner
      = render 'table', :invitations => @declined_invitations
      
- content_for :sidebar, render(:partial => 'sidebar')
