%h1 Invitator
.block
  %h2 Invitation
  .content.invitation
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message
    .group.wat-cf
      .left.label
        From
      .right
        = @invitation.user.profile.email
    .group.wat-cf
      .left.label
        Subject
      .right.subject
        = h(@invitation.subject)
    .group.wat-cf
      .left.label.right
        Content
      .right
        = h(@invitation.content)
        
    .group.wat-cf
      = link_to "Accept", accept_invitation_path(@invitation, :token => @invitation.token), :class => "button"
      = link_to "Decline", decline_invitation_path(@invitation, :token => @invitation.token), :class => "button"
