!!!
%html
  %head
    %title Invitator (SAGE test app)
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", :cache => true
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Invitator (SAGE test app)
        #user-navigation
          %ul.wat-cf
            %li
              = link_to "Logout", destroy_user_session_path, :class => "logout"
        #main-navigation
          %ul.wat-cf
            %li
              = link_to "Home", root_path
            %li
              = link_to "Profile", profile_path
            %li
              = link_to "Invitations", invitations_path
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Invitator (SAGE test app).
        #sidebar
          = yield :sidebar
